
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new notification about player <%= @player.name %>!</p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @message %></p>
  </body>
</html>